@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

:host {
  display: flex;
  margin-top: 4rem;

  @include media-breakpoint-down(xl) {
    footer {
      width: 100%;
    }
  }

  footer {
    width: 100%;
  }
}
