:host {
  display: flex;
  font-family: var(--font-family);

  $grid-items-per-row: 3; // Define the number of items per row

  .items {
    display: grid;
    grid-template-columns: repeat(#{$grid-items-per-row}, 1fr);
    grid-gap: 20px; // optional, set the gap between grid items

    .item {
      flex: 0 0 calc(100% / #{$grid-items-per-row});
    }
  }
}
