::ng-deep {
  :root {
    --header-height: 4.625rem;
    --image-height: 3.5rem;
  }
}

:host {
  position: sticky;
  top: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--header-height);
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
  background-color: white;
  user-select: none;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #545454;
    gap: 1.5rem;

    .logo {
      height: var(--image-height);

      img {
        height: 100%;
      }
    }
  }
}
